<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app id="test-biblio">
<welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
</welcome-file-list>
  <display-name>Système de gestion de bibliothèque</display-name>
  <context-param>
    <param-name>exempleParam1</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>exempleParam2</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>
      <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>javaEncoding</param-name>
            <param-value>ISO-8859-1</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <listener><listener-class>liguebaseballServlet.liguebaseballSessionListener</listener-class><listener-class>liguebaseballServlet.liguebaseballContextListener</listener-class></listener>
  <servlet>  
    <servlet-name>Login</servlet-name>
    <servlet-class>liguebaseballServlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>liguebaseballServlet.Logout</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>arbitre</servlet-name>
    <servlet-class>liguebaseballServlet.arbitre</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>equipe</servlet-name>
    <servlet-class>liguebaseballServlet.equipe</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>joueur</servlet-name>
    <servlet-class>liguebaseballServlet.joueur</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>match</servlet-name>
    <servlet-class>liguebaseballServlet.match</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>header</servlet-name>
    <servlet-class>liguebaseballServlet.header</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>arbitre</servlet-name>
    <url-pattern>/arbitre</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>equipe</servlet-name>
    <url-pattern>/equipe</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>joueur</servlet-name>
    <url-pattern>/joueur</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
    <servlet-name>match</servlet-name>
    <url-pattern>/match</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
    <servlet-name>header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
</web-app>
